// --------------------------------------------------
// direction 移动方向
// --------------------------------------------------

// --------------------------------------------------
// left-to-right 从左往右移动
// --------------------------------------------------

.jbhg.left-to-right {
  .jbhg-slide {
    &.ready {
      top: 0;
      left: -100%;
    }

    &.ready.active {
      left: 0;
    }

    &.ready.active.done {
      left: 100%;
    }
  }
}

// --------------------------------------------------
// right-to-left 从右往左移动
// --------------------------------------------------

.jbhg.right-to-left {
  .jbhg-slide {
    &.ready {
      top: 0;
      left: 100%;
    }

    &.ready.active {
      left: 0;
    }

    &.ready.active.done {
      left: -100%;
    }
  }
}
