.jbhg.fade {
  .jbhg-slide {
    display: none;


    // 过场时长
    &.move {
      transition: all 2s;
    }

    // 当前卡片的变换
    &.current.ready {
      display: block;
      left: 0;
      width: 100%;
    }
    &.current.done {
      display: block;
      left: 100%;
      width: 0;
    }

    // 下个卡片的变换
    &.next.ready {
      display: block;
      left: -100%;
      width: 100%;
    }
    &.next.done {
      display: block;
      left: 0;
      width: 100%;
    }
  }
}