// ---------------------------------------------------
// indicator_type
// ---------------------------------------------------

// ---------------------------------------------------
// none
// ---------------------------------------------------

.jbhg-indicator-list.none {
  display: none;
}

// ---------------------------------------------------
// square  小方块
// ---------------------------------------------------

.jbhg-indicator-list.square {
  .jbhg-indicator {
    font-size: 0;
    width: 10px;
    height: 10px;
  }
}

// ---------------------------------------------------
// square-number  方块加数字
// ---------------------------------------------------
.jbhg-indicator-list.square-number {
}

// ---------------------------------------------------
// disc  小圆点
// ---------------------------------------------------

.jbhg-indicator-list.disc {
  .jbhg-indicator {
    font-size: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
  }
}

// ---------------------------------------------------
// disc-number  圆圈加数字
// ---------------------------------------------------

.jbhg-indicator-list.disc-number {
  .jbhg-indicator {
    border-radius: 0.6rem;
  }
}