// --------------------------------------------------
// method
// --------------------------------------------------

// --------------------------------------------------
// left-to-right 从左往右移动
// --------------------------------------------------

.jbhg.left-to-right {
  .jbhg-slide {
    &.move {
      transition: all 2s;
    }

    &.ready {
      left: -100%;
      top: 0;
      display: block;
    }

    &.ready.active {
      left: 0;
    }

    &.ready.active.done {
      left: 100%;
    }
  }
}

// --------------------------------------------------
// right-to-left 从右往左移动
// --------------------------------------------------

.jbhg.right-to-left {
  .jbhg-slide {
    &.move {
      transition: all 2s;
    }

    &.ready {
      left: 100%;
      top: 0;
      display: block;
    }

    &.ready.active {
      left: 0;
    }

    &.ready.active.done {
      left: -100%;
    }
  }
}
