// --------------------------------------------------
// 翻页栏
// --------------------------------------------------
.jbhg-paging-bar {
  position: absolute;
}

// --------------------------------------------------
// 前后页翻页按钮
// --------------------------------------------------
.jbhg-prev-page,
.jbhg-next-page {
  position: absolute;
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  cursor: pointer;
}

// --------------------------------------------------
// 水平方向的翻页按钮栏
// --------------------------------------------------
@mixin jbhg-paging-horizontal() {
  .jbhg-prev-page,
  .jbhg-next-page {
    top: 0;
  }

  &:hover {
    .jbhg-prev-page,
    .jbhg-next-page {
    }
  }
}

// --------------------------------------------------
// .left-to-right
// --------------------------------------------------
.left-to-right .jbhg-paging-bar {
  width: 100%;
  top: 40%;

  @include jbhg-paging-horizontal();

  .jbhg-prev-page {
    left: 1rem;
  }

  .jbhg-next-page {
    right: 1rem;
  }
}

// --------------------------------------------------
// .right-to-left
// --------------------------------------------------
.right-to-left .jbhg-paging-bar {
  width: 100%;
  top: 40%;

  @include jbhg-paging-horizontal();

  .jbhg-prev-page {
    right: 1rem;
  }

  .jbhg-next-page {
    left: 1rem;
  }
}