// ---------------------------------------------------
// 工具类
// ---------------------------------------------------

// ---------------------------------------------------
// .jbhg-full-size  高度和宽度都是100%;
// ---------------------------------------------------
.jbhg-full-size {
  display: block;
  width: 100%;
  height: 100%;
}

// ---------------------------------------------------
// .jbhg-full-width  宽度100%,高度按比例
// ---------------------------------------------------

.jbhg-full-width {
  display: block;
  width: 100%;
  height: auto;
}

// ---------------------------------------------------
// .jbhg-full-height  高度100%,宽度按比例
// ---------------------------------------------------

.jbhg-full-height {
  display: block;
  width: auto;
  height: 100%;
}

// ---------------------------------------------------
// .jbhg-block-center  块元素居中对齐
// ---------------------------------------------------

.jbhg-block-center {
  margin-left: auto;
  margin-right: auto;
}

// ---------------------------------------------------
// .jbhg-block-left  块元素左对齐
// ---------------------------------------------------

.jbhg-block-left {
  margin-right: auto;
}

// ---------------------------------------------------
// .jbhg-block-right  块元素右对齐
// ---------------------------------------------------

.jbhg-block-right {
  margin-left: auto;
}