.jbhg { position: relative; width: 100%; height: 100%; overflow: hidden; }
.jbhg ul, .jbhg li { margin: 0; padding: 0; }
.jbhg .jbhg-slide, .jbhg .jbhg-indicator-list, .jbhg .jbhg-prev-page, .jbhg .jbhg-next-page { box-sizing: border-box; }
.jbhg .jbhg-indicator { box-sizing: content-box; }

.jbhg-slide { position: absolute; width: 100%; height: 100%; top: 0; overflow: hidden; display: none; }

.jbhg-indicator { background-color: #eee; border: 1px solid #888; color: #888; }
.jbhg-indicator.active { background-color: #888; border: 1px solid #eee; color: #eee; }

.jbhg-paging-bar .jbhg-prev-page, .jbhg-paging-bar .jbhg-next-page { color: #eee; }
.jbhg-paging-bar:hover .jbhg-prev-page, .jbhg-paging-bar:hover .jbhg-next-page { background: #888; color: #eee; opacity: 0.8; }

.jbhg.light .jbhg-indicator { background-color: #fff; border: 1px solid #888; color: #888; }
.jbhg.light .jbhg-indicator.active { background-color: #aaa; border: 1px solid #999; color: #fff; }
.jbhg.light .jbhg-paging-bar .jbhg-prev-page, .jbhg.light .jbhg-paging-bar .jbhg-next-page { color: #888; }
.jbhg.light .jbhg-paging-bar:hover .jbhg-prev-page, .jbhg.light .jbhg-paging-bar:hover .jbhg-next-page { background: #999; color: #fff; opacity: 0.8; }

.jbhg.left-to-right .jbhg-slide.ready { top: 0; left: -100%; }
.jbhg.left-to-right .jbhg-slide.ready.active { left: 0; }
.jbhg.left-to-right .jbhg-slide.ready.active.done { left: 100%; }

.jbhg.right-to-left .jbhg-slide.ready { top: 0; left: 100%; }
.jbhg.right-to-left .jbhg-slide.ready.active { left: 0; }
.jbhg.right-to-left .jbhg-slide.ready.active.done { left: -100%; }

.jbhg-indicator-list { position: absolute; }

.jbhg-indicator { display: inline-block; width: 1rem; height: 1rem; line-height: 1rem; font-size: 0.5rem; text-align: center; margin-right: 0.25rem; margin-bottom: 0.25rem; cursor: pointer; }

.jbhg-indicator-list.bottom { bottom: 1em; width: 100%; text-align: center; }
.jbhg-indicator-list.bottom .jbhg-indicator { display: inline-block; text-align: center; }

.jbhg-indicator-list.bottom-right { bottom: 1em; width: 100%; text-align: right; padding-right: 1rem; }
.jbhg-indicator-list.bottom-right .jbhg-indicator { display: inline-block; text-align: center; }

.jbhg-indicator-list.bottom-left { bottom: 1em; width: 100%; text-align: left; padding-left: 1rem; }
.jbhg-indicator-list.bottom-left .jbhg-indicator { display: inline-block; text-align: center; }

.jbhg-indicator-list.none { display: none; }

.jbhg-indicator-list.square .jbhg-indicator { font-size: 0; width: 10px; height: 10px; }

.jbhg-indicator-list.disc .jbhg-indicator { font-size: 0; width: 10px; height: 10px; border-radius: 5px; }

.jbhg-indicator-list.disc-number .jbhg-indicator { border-radius: 0.6rem; }

.jbhg-paging-bar { position: absolute; }

.jbhg-prev-page, .jbhg-next-page { position: absolute; width: 3rem; height: 3rem; font-size: 3rem; line-height: 3rem; text-align: center; cursor: pointer; }

.left-to-right .jbhg-paging-bar { width: 100%; top: 40%; }
.left-to-right .jbhg-paging-bar .jbhg-prev-page, .left-to-right .jbhg-paging-bar .jbhg-next-page { top: 0; }
.left-to-right .jbhg-paging-bar .jbhg-prev-page { left: 1rem; }
.left-to-right .jbhg-paging-bar .jbhg-next-page { right: 1rem; }

.right-to-left .jbhg-paging-bar { width: 100%; top: 40%; }
.right-to-left .jbhg-paging-bar .jbhg-prev-page, .right-to-left .jbhg-paging-bar .jbhg-next-page { top: 0; }
.right-to-left .jbhg-paging-bar .jbhg-prev-page { right: 1rem; }
.right-to-left .jbhg-paging-bar .jbhg-next-page { left: 1rem; }

.jbhg.slip .jbhg-slide { display: none; }
.jbhg.slip .jbhg-slide.move { transition: all 2s; }
.jbhg.slip .jbhg-slide.current.ready { display: block; left: 0; top: 0; }
.jbhg.slip .jbhg-slide.current.done { display: block; left: 100%; top: 0; }
.jbhg.slip .jbhg-slide.next.ready { display: block; left: -100%; top: 0; }
.jbhg.slip .jbhg-slide.next.done { display: block; left: 0; top: 0; }

.jbhg.zip .jbhg-slide { display: none; }
.jbhg.zip .jbhg-slide.move { transition: all 2s; }
.jbhg.zip .jbhg-slide.current.ready { display: block; left: 0; width: 100%; }
.jbhg.zip .jbhg-slide.current.done { display: block; left: 100%; width: 0; }
.jbhg.zip .jbhg-slide.next.ready { display: block; left: -100%; width: 100%; }
.jbhg.zip .jbhg-slide.next.done { display: block; left: 0; width: 100%; }

.jbhg-full-size { display: block; width: 100%; height: 100%; }

.jbhg-full-width { display: block; width: 100%; height: auto; }

.jbhg-full-height { display: block; width: auto; height: 100%; }

.jbhg-block-center { margin-left: auto; margin-right: auto; }

.jbhg-block-left { margin-right: auto; }

.jbhg-block-right { margin-left: auto; }
