// ---------------------------------------------------
// 核心设置
// ---------------------------------------------------

.jbhg {
  position: relative;
  overflow: hidden;

  // reset
  ul,li {
    margin: 0;
    padding: 0;
  }

  .jbhg-slide,
  .jbhg-indicator-list,
  .jbhg-prev-btn,
  .jbhg-next-btn {
    box-sizing: border-box;
  }

  .jbhg-indicator {
    box-sizing: content-box;
  }
}

// ---------------------------------------------------
// z-index
// ---------------------------------------------------

$jbhg_base_z_index: 0;  // 基准 z-index

.jbhg {
  // 普通
  .jbhg-slide {
    z-index: $jbhg_base_z_index;
  }
  // 特效层
  .jbhg-slide-effect {
    z-index: $jbhg_base_z_index + 4;
  }
  // 等待进场
  .jbhg-slide.ready {
    z-index: $jbhg_base_z_index + 3;
  }
  // 当前显示
  .jbhg-slide.ready.active {
    z-index: $jbhg_base_z_index + 2;
  }
  // 已经退场
  .jbhg-slide.ready.active.done {
    z-index: $jbhg_base_z_index + 1;
  }

  // 指示器
  .jbhg-indicator-list {
    z-index: $jbhg_base_z_index + 5;
  }
  .jbhg-indicator {
    z-index: $jbhg_base_z_index + 6;
  }

  // 前后翻页栏
  .jbhg-prev-next {
    z-index: $jbhg_base_z_index + 5;
  }
  .jbhg-prev-btn,
  .jbhg-next-btn {
    z-index: $jbhg_base_z_index + 6;
  }
}


// ---------------------------------------------------
// slide设置
// ---------------------------------------------------

.jbhg-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  overflow: hidden;
  display: none;
}


// --------------------------------------------------
// 方向
// --------------------------------------------------

@import "_direction.scss";


// ---------------------------------------------------
// 当前位置指示器
// ---------------------------------------------------

.jbhg-indicator-list {
  position: absolute;
}

.jbhg-indicator {
  display: inline-block;

  // 默认尺寸设为 16像素×16像素，方便订制时，做背景图
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 0.5rem;
  text-align: center;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;

  cursor: pointer;
}

// 指示器的显示位置
@import "_indicator_position.scss";

// 指示器的样式
@import "_indicator_type.scss";


// --------------------------------------------------
// 前后页翻页按钮
// --------------------------------------------------

@import "_prev_next.scss";


// --------------------------------------------------
// 过场特效
// --------------------------------------------------

@import "_effect.scss";


// ---------------------------------------------------
// 工具类
// ---------------------------------------------------

@import "_utilities.scss";
